* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 600;
  color: rgba(183, 206, 201, 0.829);
  background-color: #212327e8;
}

a {
  text-decoration: none;
  color: #9a5eacec;
}

a:hover {
  text-decoration: line-through;
  font-style: italic;
}

ul {
  list-style: none;
  margin: 1.3rem 0;
  line-height: 1.3;
}

h1, h2 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;

 color: rgba(79, 218, 109, 0.925);
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.3rem;
  margin: 1.3rem 0;
}

main {
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}